<a href="https://colab.research.google.com/github/jooo06310/ai-/blob/main/Copy_of_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
my_string = input("Enter a string: ")
length = len(my_string)
print("Length of the string is:", length)

Enter a string: abcd
Length of the string is: 4

In [ ]:
my_string = input("Enter a string: ")
count = 0
for char in my_string:
    count += 1
print("Length of the string is:", count)

Enter a string: abcd
Length of the string is: 4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
def st_la_2_cha(string):
    if len(string) < 2:
        return ''
    else:
        return string[:2] + string[-2:]
my_string = input("Enter a string: ")
result = st_la_2_cha(my_string)
print("Result:", result)

Enter a string: tbz
Result: tbbz

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
def added(string):
    if len(string) < 3:
        return string
    elif string[-3:] == 'ing':
        return string + 'ly'
    else:
        return string + 'ing'
string1= input("Enter a string:")
result=added(string1)
print("Result:",result)

Enter a string:going
Result: goingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def find_longest_word(word_list):
    longest = ''
    for word in word_list:
        if len(word) > len(longest):
            longest = word
    return longest, len(longest)
words = ["Messi","Ronaldo","Maradona","Pele"]
longest_word, length = find_longest_word(words)
print("Longest word:", longest_word)
print("Length of the longest word:", length)

Longest word: Maradona
Length of the longest word: 8

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
def swap_first_last_strings(s):
    if len(s) < 2:
        return s
    return s[-1] + s[1:-1] + s[0]
string1=input("Enter a string:")
result1 = swap_first_last_strings(string1)
print("After Editing:", result1)

Enter a string:youssef
After Editing: foussey

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
def remove_odd_index(s):
    result = ''
    for i in range(len(s)):
        if i % 2 == 0:
            result += s[i]
    return result
string1=input("Enter a string:")
result1 = remove_odd_index(string1)
print("After Editing:", result1)

Enter a string:abcd
After Editing: ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s=input("Enter a string:")
print("Upper Case:",s.upper())
print("Lower Case:",s.lower())

Enter a string:Way Down We Go
Upper Case: WAY DOWN WE GO
Lower Case: way down we go

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
s=input("Enter a string:")
if len(s)%4==0:
    print("After Editing:",s[::-1])
else:
    print("After Editing:",s)

Enter a string:LET
After Editing: LET

**10- Write a Python program to remove a newline in Python

**11-Write a Python program to check whether a string starts with specified characters

**12- Write a Python program to add prefix text to all of the lines in a string

**13-Write a Python program to print the following numbers up to 2 decimal places

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
s=input("Enter a string:")
print("After Editing:",s[::-1])

Enter a string:asdf
After Editing: fdsa

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def count_repeated_chars(text):
    char_count = {}

    for char in text:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    repeated_chars = {char: count for char, count in char_count.items() if count > 1}
    return repeated_chars
input_string = input("Enter a string: ")
repeated = count_repeated_chars(input_string)
if repeated:
    print("Repeated characters are:")
    for char, count in repeated.items():
        print(f"'{char}': {count}")
else:
    print("No repeated characters.")

Enter a string: youssef
Repeated characters are:
's': 2

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
s=input("Enter a string:")
for char in s:
    if s.count(char)==1:
        print("First Non-Repeating Character:",char)
        break
else:
    print("No Non-Repeating Character Found")

Enter a string:messi
First Non-Repeating Character: m

**19-Write a Python program to remove spaces from a given string

In [ ]:
s=input("Enter a string:")
print("After Editing:",s.replace(" ",""))

Enter a string:abcd efg
After Editing: abcdefg

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [ ]:
list1=[1,2,3,4,5]
list1[0],list1[-1]=list1[-1],list1[0]
print(list1)

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
my_list = [23, 65, 19, 90]
pos1 = 1
pos2 = 3
my_list[pos1 - 1], my_list[pos2 - 1] = my_list[pos2 - 1], my_list[pos1 - 1]
print("After Editing:", my_list)

After Editing: [19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
my_list = [10, 20, 30, 40, 50]
max_number = max(my_list)
print("The maximum number in the list is:", max_number)

The maximum number in the list is: 50

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
my_list = [10, 20, 30, 40, 50]
min_number = min(my_list)
print("The minimum number in the list is:", min_number)

The minimum number in the list is: 10

**26-search for if an elem is existing in list

In [ ]:
list1=[1,2,3,4,5]
if 3 in list1:
    print("Element Found")
else:
    print("Element Not Found")

Element Found

**27- clear python list using different ways

In [ ]:
list1=[1,2,3,4,5]
list1.clear()
print(list1)

[]

**28-remove duplicated elements from a list

In [ ]:
list1=[1,2,3,4,5,1,2,3,4,5]
list2=list(set(list1))
print(list2)

[1, 2, 3, 4, 5]

In [ ]:
list1=[1,2,3,4,5,1,2,3,4,5]
list2=[]
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [1]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
res = [dict(zip(key_list, test_list[i:i+len(key_list)])) for i in range(0, len(test_list), len(key_list))]
print(res)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [2]:
test_list = [1, 2, 2, 3, 4, 4, 4, 5, 1]
unique_values = set(test_list)
print("Unique values count:", len(unique_values))

Unique values count: 5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [3]:
from collections import Counter
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
freq = Counter(test_list)
res = [key for key, val in freq.items() if val > K]

print("Elements with frequency greater than", K, ":", res)

Elements with frequency greater than 3 : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [4]:
arr = [1, 2, 2, 3, 4, 5]
res = []
for i in range(len(arr) - 1):
    res.append(max(arr[i], arr[i+1]))

print("Strongest Neighbours:", res)

Strongest Neighbours: [2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [7]:
digits = [1, 2, 3]
for i in digits:
    for j in digits:
        for k in digits:
            if i != j and j != k and i != k:
                print(i, j, k, end=" ## ")

1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [8]:
test_list = [1, 2, 3]
res = []
for i in range(len(test_list)):
    for j in range(i + 1, len(test_list) + 1):
        res.append(test_list[i:j])
for comb in res:
    print(comb)

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [9]:
List_1 = ["a", "b"]
List_2 = [1, 2]
def generate_permutations(lst):
    if len(lst) == 0:
        return [[]]
    perms = []
    for i in range(len(lst)):
        rest = lst[:i] + lst[i+1:]
        for p in generate_permutations(rest):
            perms.append([lst[i]] + p)
    return perms
list2_perms = generate_permutations(List_2)
Unique_combination = [list(zip(List_1, p)) for p in list2_perms]
print("Unique combinations:")
for comb in Unique_combination:
    print(comb)

Unique combinations:
[('a', 1), ('b', 2)]
[('a', 2), ('b', 1)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [10]:
test_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
remove = 1
result = [x for x in test_list if x != remove]
print("Output:", result)

Output: [2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [11]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result = [list1[i] for i in list2]
print("The lists after index elements replacements is :", result)

The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [12]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
result = [tup for tup in test_list if tup.count(K) == N]
print("Output:", result)

Output: [(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [13]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sorted_col_0 = sorted(array, key=lambda x: x[0])
print("Sorted array specific to column 0:", sorted_col_0)
sorted_col_1 = sorted(array, key=lambda x: x[1])
print("Sorted array specific to column 1:", sorted_col_1)
sorted_col_2 = sorted(array, key=lambda x: x[2])
print("Sorted array specific to column 2:", sorted_col_2)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [14]:
input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_dict_by_key = dict(sorted(input_dict.items()))
print("Dictionary sorted by key:", sorted_dict_by_key)

Dictionary sorted by key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [15]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7
filtered_dict = {key: value for key, value in test_dict.items() if (isinstance(value, (int, float)) and value <= K) or not isinstance(value, (int, float))}
print("Filtered dictionary:", filtered_dict)

Filtered dictionary: {'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
concatenated_dict = {**dic1, **dic2, **dic3}
print("Concatenated Dictionary:", concatenated_dict)

Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [17]:
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key in my_dict:
    print(f"Key: {key}, Value: {my_dict[key]}")

Key: a, Value: 10
Key: b, Value: 20
Key: c, Value: 30
Key: d, Value: 40

**44- Write a Python script to merge two Python dictionaries

In [18]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print("Merged Dictionary:", dict1)

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [19]:
my_dict = {'a': 10, 'b': 20, 'c': 5, 'd': 30, 'e': 15}
max_value = max(my_dict.values())
min_value = min(my_dict.values())
print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 30
Minimum Value: 5

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [20]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {key: value for key, value in original_dict.items() if value is not None}
print("New Dictionary after dropping empty items:", new_dict)

New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [22]:
my_tuple = (10, 20, 30, 40, 50)
print("First item in the tuple:", my_tuple[0])

First item in the tuple: 10

**48-Write a Python program to unpack a tuple into several variables

In [23]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

**49-Write a Python program to add an item to a tuple

In [24]:
my_tuple=(10,20,30)
new_item=40
my_tuple=my_tuple+(new_item,)
print("Updated Tuple:",my_tuple)

Updated Tuple: (10, 20, 30, 40)

**50-Write a Python program to convert a tuple to a string

In [25]:
my_tuple=('a','b','c')
my_string=''.join(my_tuple)
print("Converted String:",my_string)

Converted String: abc

**51-Write a Python program to convert a list to a tuple

In [26]:
my_tuple=[10,20,30]
my_list=tuple(my_tuple)
print("Converted List:",my_list)

Converted List: (10, 20, 30)

**52-Write a Python program to reverse a tuple

In [27]:
my_tuple=(10,20,30)
reversed_tuple=my_tuple[::-1]
print("Reversed Tuple:",reversed_tuple)

Reversed Tuple: (30, 20, 10)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [28]:
my_tuple=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value=100
for i in range(len(my_tuple)):
    my_tuple[i]=list(my_tuple[i])
    my_tuple[i][-1]=new_value
    my_tuple[i]=tuple(my_tuple[i])
print("Updated Tuple:",my_tuple)

Updated Tuple: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [29]:
my_tuple='python 3.0'
my_tuple=tuple(my_tuple)
print("Converted Tuple:",my_tuple)

Converted Tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [30]:
my_tuple=((10,20,30),(40,50,60),(70,80,90))
average=sum(sum(tup)/len(tup) for tup in my_tuple)/len(my_tuple)
print("Average Value:",average)

Average Value: 50.0

**56-Write a Python program to add member(s) to a set.

In [31]:
my_set={10,20,30}
new_member=40
my_set.add(new_member)
print("Updated Set:",my_set)

Updated Set: {40, 10, 20, 30}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [32]:
my_set={10,20,30}
item_to_remove=20
if item_to_remove in my_set:
    my_set.remove(item_to_remove)
    print("Updated Set:",my_set)

Updated Set: {10, 30}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [34]:
my_set1={10,20,30}
my_set2={20,30,40}
intersection=my_set1.intersection(my_set2)
union=my_set1.union(my_set2)
difference=my_set1.difference(my_set2)
symmetric_difference=my_set1.symmetric_difference(my_set2)
print("Intersection:",intersection)
print("Union:",union)
print("Difference:",difference)
print("Symmetric Difference:",symmetric_difference)

Intersection: {20, 30}
Union: {20, 40, 10, 30}
Difference: {10}
Symmetric Difference: {40, 10}

**59-Write a Python program to find the maximum and minimum values in a set

In [35]:
my_set={10,20,30}
max_value=max(my_set)
min_value=min(my_set)
print("Maximum Value:",max_value)
print("Minimum Value:",min_value)

Maximum Value: 30
Minimum Value: 10

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [37]:
my_set=[10,20,30,40,50]
value=50
for i in range(len(my_set)):
    for j in range(i+1,len(my_set)):
        if my_set[i]+my_set[j]==value:
            print(f"({my_set[i]},{my_set[j]})")

(10,40)
(20,30)